<div class="center hero-unit">
  <h1>Welcome to the KUPO Free Company App</h1>

  <h2>
    This is the home page of KUPO: a Final Fantasy 14 Free Company on Goblin (NA)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>